.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Añadido padding para un mejor espacio interior */
}

button {
  background-color: #4f46e5; /* Color más vibrante */
  color: #ffffff;
  font-weight: 600;
  padding: 12px 24px; /* Ajuste en el padding para botones más grandes */
  border-radius: 10px; /* Redondeo más pronunciado */
  display: flex;
  align-items: center;
  gap: 10px; /* Más espacio entre el texto y el icono */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Añadido efecto al pasar el ratón */
}

button:hover {
  background-color: #4338ca; /* Color de hover para el botón */
}

.input-field {
  border: 1px solid #d1d5db; /* Color más suave */
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.25rem; /* Mayor espacio entre los campos */
  transition: border-color 0.3s ease; /* Transición para el enfoque */
}

.input-field:focus {
  border-color: #4f46e5;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; /* Espacio entre la tabla y los elementos anteriores */
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

th {
  background-color: #f9fafb; /* Color más claro */
  color: #4b5563;
  font-size: 0.9rem; /* Ajuste de tamaño de fuente */
  text-transform: uppercase;
}

tr:hover {
  background-color: #f3f4f6; /* Color de hover para filas */
}

.bg-white {
  background-color: #ffffff;
}

.p-6 {
  padding: 2rem; /* Aumento en el padding para un mejor espaciado */
}

.rounded-lg {
  border-radius: 0.75rem; /* Redondeo más pronunciado */
}

.shadow-md {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombras más profundas */
}

h1,
h2 {
  font-weight: 600;
  color: #1f2937;
}

h1 {
  font-size: 1.5rem; /* Mayor tamaño para el título */
}

h2 {
  font-size: 1.25rem; /* Ajuste para h2 */
  margin-bottom: 1rem; /* Más espacio debajo de h2 */
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-center {
  align-items: center;
}

.ResponsiveContainer {
  margin-top: 2rem; /* Más espacio arriba */
  padding: 1rem; /* Añadido padding para mejorar la estructura */
  border-radius: 0.5rem; /* Bordes redondeados */
  background-color: #f9fafb; /* Fondo ligeramente gris */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombras suaves */
}
